[[dynamic_completions]]
command = "sudo"
description = "Complete with available pacman packages for installation"
match_condition = { type = "CustomPattern", params = { command = "sudo", args_positional = [[0, "pacman"], [1, "S"]], args_must_be_empty = false } }
shell_command = "pacman -Slq"