[[dynamic_completions]]
command = "pacman"
description = "Complete with available pacman packages for installation"
match_condition = { type = "CustomPattern", params = { command = "pacman", options_contains = ["S"] } }
shell_command = "pacman -Slq"